<h1>Expense Report Notification</h1>

<div>
Hi <%= @expense.owner.name %>,<br/>
<br/>

You became the owner of an expense.<br/>
You can see the list of expenses you own at the link below:<br/>
<br/>

<%= link_to 'Expenses You Own', owned_expenses_url %><br/>
<br/>

Thank you for using Expense Report.<br/>
<br/>

This is a post-only mailing.  Replies to this message are not monitored<br/>
or answered.
</div>