<h1>Expense Report Notification</h1>
<br/>

<div>
Hi <%= @user.name %>,<br/>
<br/>

To initiate the password reset process for your<br/>
<%= link_to @user.email, "mailto:#{@user.email}" %> Expense Report Account, click the link below:<br/>
<br/>

<%= link_to edit_password_reset_url(@user.password_reset_token), edit_password_reset_url(@user.password_reset_token) %><br/>
<br/>

Please, reset your password within next two hours, otherwise it will expire.<br/>
<br/>

If clicking the link above doesn't work, please copy and paste the URL in a<br/>
new browser window instead.<br/>
<br/>

If you've received this mail in error, it's likely that another user entered<br/>
your email address by mistake while trying to reset a password. If you didn't<br/>
initiate the request, you don't need to take any further action and can safely<br/>
disregard this email.<br/>
<br/>

Thank you for using Expense Report.<br/>
<br/>

This is a post-only mailing.  Replies to this message are not monitored<br/>
or answered.
</div>