<h1>Expense Report Notification</h1>

<div>
Hi <%= @expense.user.name %>,<br/>
<br/>

The status of your expense has been changed.<br/>
You can see the list of expenses you submitted at the link below:<br/>
<br/>

<%= link_to 'Expenses You Submitted', submitted_expenses_url %><br/>
<br/>

Thank you for using Expense Report.<br/>
<br/>

This is a post-only mailing.  Replies to this message are not monitored<br/>
or answered.
</div>