<%= render partial: 'shared/title', locals: { title: 'Listing Currencies' } %>

<table id="currencies" class="display" data-source="<%= currencies_url(format: "json") %>">
	<thead>
		<tr>
			<th>ID</th>
			<th>Code</th>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>

<br />
