<%= render partial: 'shared/title', locals: { title: 'Listing Expense Types' } %>

<table id="expense_types" class="display">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Company</th>
		</tr>
	</thead>

	<tbody>
		<% @expense_types.each do |expense_type| %>
		<tr>
			<td><%= expense_type.id %></td>
			<td><%= expense_type.name %></td>
			<td><%= expense_type.company.name %></td>
		</tr>
		<% end %>
</table>

<br />
