<h1>New Expense Type</h1>

<% if !@expense_type.company_id? %>
	<% @expense_type.company_id = current_user().company_id %>
<% end %>

<%= render partial: 'form', locals: { read_only: false } %>

<%= link_to_function 'Back', "history.back()" %>