<h1>New User</h1>

<% if !@user.company_id? %>
  <% @user.company_id = current_user().company_id %>
<% end %>
<%= render partial: 'form', locals: { read_only: false } %>

<%= link_to_function 'Back', "history.back()" %>