<%= render partial: 'shared/title', locals: { title: 'Listing Expense Statuses' } %>

<table id="expense_statuses" class="display">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		<% @expense_statuses.each do |expense_status| %>
		<tr>
			<td><%= expense_status.id %></td>
			<td><%= expense_status.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />
