<h1>Viewing Expense Status</h1>

<%= render partial: 'form', locals: { read_only: true } %>

<%= link_to 'Edit', edit_expense_status_path(@expense_status) %> |
<%= link_to_function 'Back', "history.back()" %>
