<%= render partial: 'shared/title', locals: { title: 'Listing Companies' } %>

<table id="companies" class="display" data-source="<% companies_url(format: "json") %>">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Contact Person</th>
			<th>Contact Title</th>
			<th>Contact Phone</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>

<br />