<h1>Listing User Types</h1>

<table id="user_types" class="display">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		<% @user_types.each do |user_type| %>
		<tr>
			<td><%= user_type.id %></td>
			<td><%= user_type.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />
